* {
  box-sizing: border-box;
  font-family: "Helvetica"!important;
}

body {
  background-color: #282c34;
}

#app {
  text-align: center;
}

#landingLogo {
  height: 25%;
  width: 25%;
  pointer-events: none;
  margin-top: 5em;
}

.App-header {
  background-color:#3AA76D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFFFF;
}

.welcome {
  color: #FFFFFF;
  font-size: 3em;
}

.message {
  color: #FFFFFF;
  font-style: italic;
  font-size: 1.25em;
}

hr {
  color: white;
}

.bg-primary {
  background-color: #3AA76D!important;
  border-radius: 1em;
}

.bg-secondary {
  background-color: #282c34!important;
}

.p-2 {
  color: #282c34!important;
  font-size: 1.5em!important;
  font-weight: bolder;
}

#return-home {
  color: #FFFFFF;
  background-color: #3AA76D;
}

.user-info-form {
  margin-bottom: 10%;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

label {
  color: #FFFFFF;
  font-size: 1.25em;
  text-align: left;
  margin-top: 0.5em;
}

input {
  border: 1% solid #FFFFFF;
  color: #FFFFFF;
}

input[type="button"] {
  background-color: #3AA76D;
  color: #FFFFFF;
  border: none;
  font-size: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
}

.list-name {
  font-size: 2em;
}

.action {
  font-size: 2em;
  color: white;
}
