* {
  box-sizing: border-box;
  font-family: "Helvetica"!important;
}

body {
  background-color: #282c34!important;
}

#app {
  text-align: center;
}

#landingLogo {
  height: 25em;
  width: 25em;
  pointer-events: none;
  margin-top: 5em;
}

.welcome {
  color: #FFFFFF;
  font-size: 3em;
  margin: 0.75em;
}

.message {
  color: #FFFFFF;
  font-style: italic;
  font-size: 1.25em;
}

hr {
  color: white;
}

.bg-green {
  background-color: #3AA76D!important;
}

.bg-secondary {
  background-color: #282c34!important;
}

.font-dark {
  color: #282c34!important;
  font-size: 1.5em!important;
  font-weight: bolder;
}

#return-home {
  color: #FFFFFF;
  background-color: #3AA76D;
}

.user-info-form {
  margin-bottom: 10%;
  margin-left: 20%;
  margin-right: 20%;
}

label {
  color: #FFFFFF;
  font-size: 1.25em;
  text-align: left;
  margin-top: 0.5em;
}

input {
  border: 1% solid #FFFFFF;
  color: #FFFFFF;
}

input[type="button"] {
  background-color: #3AA76D;
  color: #FFFFFF;
  border: none;
  font-size: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
}

.list-name {
  font-size: 2em;
}

.action {
  font-size: 2em;
  color: white;
}

.inactive {
  color: #000000;
  text-decoration: none;
}

a {
  color: #000000!important;
}

.text-black {
  color: #000000!important;
}

.nav-link {
  padding: 0rem!important;
  padding-left: 1em!important;
  padding-right: 1em!important;
}

@media (max-width: 768px) {
  .btn {
    font-size:11px!important;
  }
}

@media (min-width: 768px) {
  .btn {
    font-size:12px!important;
  }
}

@media (min-width: 992px) {
  .btn {
    font-size:14px!important;
  }
}

@media (min-width: 1200px) {
  .btn {
    font-size:18px!important;
  }
}
